<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}WikiStack{% endblock %}</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tripplan.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBCs1AJDgBdJ0tiO0PMU-RPiWEVtugLNY&sensor=true"></script>
    <script>
      function initialize_gmaps() {
    // initialize new google maps LatLng object
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      // set the map options hash
      var mapOptions = {
          center: myLatlng,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      // get the maps div's HTML obj
      var map_canvas_obj = document.getElementById("map-canvas");
      // initialize a new Google Map with the options
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      // Add the marker to the map
      var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
      });
      // Add the marker to the map by calling setMap()
      marker.setMap(map);
  }

  $(document).ready(function() {
      initialize_gmaps();
  });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand glyphicon glyphicon-map-marker" href="/">Trip Planner</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
	<h1>{% block title %}{% endblock %}</h1>
   <div class='content row'>{% block content %}{% endblock %}</div>
  </body>
</html>